@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
  }

body{
    font-family: 'Poppins';
}
.site_title{
    font-weight: bold;
}

.login_title{
    margin-top: 150px;
}

.login_form_box{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.custom-btn{
    padding: 2px 7px !important;
}

.selected{
    background-color: #1f544f94;
    color: white;
}

.select2-selection{
    height: 35px !important;
}